<a href="https://colab.research.google.com/github/Desalitcpe/Python-fundaments/blob/main/Python_fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [5]:
if 5>2:
  print("five is greater than two!")

five is greater than two!
hello world

Python comment

In [6]:
#Ths is a comment
print("Hello, World!")

Hello, World!

Python Variable

In [10]:
x=1
z, b=0,-1
a, b, c=0,-1, 2

b="Sally" #This is a type of string

num_var=x, z, b, a, b, c
print(num_var)

(1, 0, 'Sally', 0, 'Sally', 2)
Sally

In [11]:
b="sally" #this is a string
b=int(4)
print(b)  #it will display as an integer

b=float(4)
print(b) #it will display as an float or decimal

4
4.0

type function

In [12]:
x=5
y="John"
print(type(x))
print(type(y))
#it will display the data types of the values stored in the variable

<class 'int'>
<class 'str'>

Case sentitive

In [ ]:
a=4
A="Sally"
#"a" will not overwrite "A"

Multiple variables

In [ ]:
x,y,z="one","two","three"
print(x)
print(y)
print(z)

One Value to Mutiple Variables

In [ ]:
x=y=z="four"
print(x)
print(y)
print(z)

Output Variables

In [14]:
#The pyton "print" is used to putput variables and "+" is used both text and variable
#example;

x="enjoying"
print("Python programming is " + x)

Python programming is enjoying

In [16]:
#other way

x="Python is "
y="enjoying"
z=x+y
print(z)

Python is enjoying

Arithmetic operations

In [19]:
a=10//3
print(a)

x=5
y=3
print(x+y)

b=5
c=3
sum=x+y
print(sum)

mdl=b%c

print(mdl)

sub=b-c

print(sub)

exp=b**c

print(exp)

dif=x/y

print(dif)

mul=x*y

print(mul)

3
8
8
2
2
125
1.6666666666666667
15

Assignment operator

In [32]:
s = 1
s = 5
print(s)

s += 5
print(s)

s -= 5
print(s)

s *= 5
print(s)

s /= 5
print(s)

s %= 5
print(s)

s //= 5
print(s)

s **= 5
print(s)

s = int(s) # Convert s to an integer for bitwise operations due to certain difficulties
s &= 5
print(s)

s |= 5
print(s)

s ^= 5
print(s)

s >>= 5
print(s)

s <<= 5
print(s)

5
10
5
25
5.0
0.0
0.0
0.0
0
5
0
0
0

Comparison Operators

In [31]:
s = 1
s == 5
print(bool(s))


s != 5
print(bool(s))


s > 5
print(bool(s))


s < 5
print(bool(s))

s >= 5
print(bool(s))

s <= 5
print(bool(s))

True
True
True
True
True
True

Logical Opertors

In [42]:
g=7

g > 5 and g < 10
print(bool(g))

g > 5 or g < 4
print(bool(g))

not(g > 5 and g < 10)
print(bool(g))

g > 5 == g < 15
print(bool(g))

s > 5 != g < 15
print(bool(g))

True
True
True
True
True

Bitwise operators

In [47]:
var=3
print(var&1)
var=3
print(var|1)
var=3
print(var^1)
var=3
print(~var)
var=3
print(var>>1)
var=3
print(var<<1)

1
3
2
-4
1
6